<div class='message'>
  <div class='from'><%= link_to message.sender.username, userprofile_path(message.sender) %></div>
  <div class='sent'><%= link_to message.created_at.strftime('%B %d, %Y'), message_path(message) %></div>
  <div class='text'><%= message.message_text %></div>
</div>
