<% content_for :altnav do %>
  <%= link_to "about", about_path %>
  <%= link_to "faq", faq_path %>
<% end %>

<h1>about</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt ante nec turpis pellentesque at feugiat ante accumsan. Suspendisse porttitor libero enim, at tristique urna. Nulla condimentum dictum odio id tincidunt. Donec lacinia congue dolor, a varius purus rhoncus sed. Proin non enim metus. Integer risus diam, adipiscing sit amet mattis eu, porta non sapien. Vestibulum sagittis luctus ornare. Ut auctor, quam quis convallis ornare, nisi mauris ornare elit, sit amet accumsan ligula neque hendrerit quam. Vestibulum cursus leo vitae nisl congue dignissim. Mauris sed euismod nunc. Sed bibendum luctus augue non hendrerit.
</p>
<p>
Curabitur imperdiet rhoncus ipsum sed egestas. Vivamus varius, mi sed ornare elementum, est justo volutpat mi, vitae dictum tellus ipsum et ipsum. Sed ipsum ligula, lacinia ut ultrices a, varius et tellus. Vestibulum lorem arcu, vestibulum nec condimentum et, tristique non leo. Quisque quis ipsum sit amet arcu volutpat tincidunt. Vivamus congue feugiat odio sit amet tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ultricies sollicitudin mi, et euismod purus volutpat in. Duis tempor est et eros laoreet rhoncus tincidunt est semper. Duis pretium lobortis elit sed congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>
<p>
Sed non nulla mauris. Nulla a purus purus. Morbi vulputate tellus vitae neque commodo at pellentesque sem pellentesque. Pellentesque ac enim risus, vitae porta dui. Integer sem purus, semper nec lobortis a, volutpat eu justo. Vestibulum at malesuada elit. Nam sed turpis a massa rutrum interdum a id tortor. Nam velit quam, ultricies ac malesuada et, lobortis a est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ante lectus, ultrices placerat dictum vel, gravida eget turpis. Phasellus urna lorem, euismod eget adipiscing at, convallis sit amet odio. Aliquam nec nibh velit, at interdum purus.
</p>
