<% content_for :altnav do %>
  <%= link_to "about", about_path %>
  <%= link_to "faq", faq_path %>
<% end %>

<h1>datestr</h1>
<p>
Sed interdum sodales pellentesque. Curabitur dui lectus, varius sollicitudin suscipit nec, mollis sit amet massa. Phasellus in risus vitae tellus iaculis elementum et quis tellus. Mauris ullamcorper condimentum mi eget aliquet. Phasellus tellus ipsum, commodo eu suscipit nec, adipiscing vel quam. Nullam at velit vel felis rutrum semper in id arcu. Fusce sed semper arcu. Nullam rhoncus accumsan luctus.
</p>
<p>
Sed facilisis lectus in urna luctus non sodales odio pulvinar. Vestibulum a accumsan dui. Quisque vitae mattis tortor. Aenean nec ante metus. Proin purus nisl, dignissim in dapibus vel, semper sit amet nibh. Etiam et elit eu lorem molestie hendrerit. Aenean non mauris libero, nec rutrum eros. Nullam nec malesuada elit.
</p>
<p>
Fusce in turpis eget ligula rhoncus mattis non vel elit. Morbi quis quam at nisi dignissim iaculis. Integer pretium, augue non semper pretium, mi dui malesuada dui, eget varius tellus odio sit amet tortor. Morbi eleifend, augue vulputate accumsan fermentum, dui libero laoreet lectus, volutpat mollis tortor elit vel quam. In hac habitasse platea dictumst. Nulla mattis consequat ultrices. Fusce eu ligula elit, id ullamcorper tortor. Vestibulum sagittis leo ut tellus vehicula faucibus ac nec massa. Quisque ultrices, erat vitae tempor dignissim, arcu tortor euismod massa, et tempus nulla tellus at nisi. Aenean ut dignissim magna. Sed nec nulla ante, vitae placerat neque. Nulla tristique, est non auctor fringilla, mauris nisi mollis dolor, in lobortis tellus odio et sem. Cras et leo sit amet ante congue adipiscing. Curabitur magna sapien, condimentum ut venenatis ac, mattis semper nulla. Vivamus lorem nibh, fringilla id faucibus quis, sodales vel libero. Maecenas suscipit, nisl at ullamcorper placerat, eros sem convallis tellus, eu porttitor arcu arcu in magna.
</p>
<p>
Aliquam et tortor massa, et varius dui. Nunc ullamcorper quam ac odio scelerisque interdum. Cras commodo, diam sed congue rutrum, tellus enim bibendum nisi, vel vehicula orci dolor nec libero. Donec dui nunc, vestibulum nec congue at, consequat sed diam. In hac habitasse platea dictumst. Suspendisse hendrerit eros in erat ullamcorper aliquet. Quisque viverra sodales tortor mollis placerat.
</p>
<p>
Vivamus nec nisl vel enim faucibus pellentesque vel ut massa. Curabitur neque urna, sollicitudin vel pulvinar vel, malesuada a odio. Nunc sit amet sapien lorem, ac congue quam. Maecenas metus neque, mattis sed auctor id, ultricies sit amet nisi. Aenean ut ante orci, sed sodales nisi. Quisque mattis fringilla pellentesque. Ut dapibus, neque non tincidunt pretium, massa erat ullamcorper massa, in dapibus erat odio eget libero. Pellentesque pellentesque tincidunt nisi at congue.
</p>
