$body-bg-color: #646464;
$header-bg-color: #8ec3e5;
$header-text-color: #28678f;
$nav-bg-color: #323232;
$input-text-color: #28678f;
$text-color: #bdbdbd;
$link-color: #bdbdbd;
$form-bg-color: #323232;
$form-bd-color: #bdbdbd;
$form-text-color: #bdbdbd;
$photo-bg-color: #eeeeee;
$photo-bd-color: #757575;
