$body-bg-color: #8ec3e5;
$header-bg-color: #8ec3e5;
$nav-bg-color: #3b97d2;
$nav-bd-color: #c0def1;
$font-color: #28678f;
$link-color: #dfee43;
$form-bg-color: #dfee43;
$photo-bg-color: #eeeeee;
$photo-bd-color: #757575;
