@import 'colors';

.photo
{
  float: left;
  margin-right: 10px;

  .image
  {
    margin-bottom: 10px;
    background-color: $photo-bg-color;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  img
  {
    border: 1px solid $photo-bd-color;
  }
}
